/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 5px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
